/* reset */



body, html {
    background: #F6F6F6;
    width: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --red: #e62e2e;
}

/* header */

header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: from_top .7s ease-in-out;
}

.header_container {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_container h2 {
    font-size: 24px;
    font-weight: 600;
    color: #000000;
}

.header_container .header_links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_container .header_links a {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    transition: .3s;
}

.header_container .header_links a:hover {
    background: #e4e4e4;
}

.header_container .git_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    background: #e62e2e;
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    transition: .3s;
    cursor: pointer;
}

.header_container .git_btn:hover {
    background: #ad1d1d;
}

.header_container .git_btn svg {
    width: 20px;
    height: 20px;
    stroke: white;
    margin-right: 5px;
}

/* main */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* cover */

.cover {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cover .cover_text {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    animation: from_left 1s ease-in-out;
}

.cover .cover_text span {
    text-transform: uppercase;
    font-size: 12px;
    color: #868686;
    font-weight: 600;
    padding: 8px 12px;
    background: rgb(231, 231, 231);
    border-radius: 6px;
}

.cover .cover_text h2 {
    margin-top: 10px;
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
    color: #000000;
}

.cover .cover_text p {
    font-size: 14px;
    margin-top: 10px;
    color: rgb(134, 134, 134);
}

.cover .cover_text a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #353535;
    margin-top: 10px;
    transition: .3s;
}

.cover .cover_text a:hover {
    color: #000000;
    margin-left: 5px;
}

.cover .cover_text a svg {
    width: 30px;
    height: 30px;
    stroke: #353535;
    margin-left: 5px;
    transition: .3s;
}

.cover .cover_text a:hover svg {
    stroke: #000000;
    margin-left: 15px;
}

.cover img {
    width: 600px;
    animation: from_right 1.3s ease-in-out;
}

/* titles */

.center_title {
    width: 1300px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: from_top 1.4s ease-in-out;
}

.center_title h2 {
    font-size: 30px;
    font-weight: 500;
    color: black;
}

.center_title p {
    width: 550px;
    margin-top: 10px;
    text-align: center;
    color: #868686;
    font-size: 14px;
}

.center_title .search {
    width: 700px;
    margin-top: 50px;
    padding: 15px;
    border-radius: 6px;
    background: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.center_title .search svg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.center_title .search input {
    flex: 1;
    font-size: 14px;
    color: #868686;
    font-weight: 400;
}

.center_title .search input::placeholder {
    color: #b9b9b9;
}

/* filter */

.filters {
    width: 1300px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters .filter_select {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 6px;
}

.filters .filter_select span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    border-radius: 4px;
    background: #eeeeee;
    font-size: 11px;
    font-weight: 400;
    color: #868686;
    cursor: pointer;
    transition: .3s;
}

.filters .filter_select span:hover {
    background: #e2e2e2;
}

.filters .filter_select span svg {
    width: 16px;
    height: 16px;
    margin-left: 10px;
    stroke-width: 1.7;
    stroke: #868686;
}

.filters .filter_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters .filter_buttons svg {
    width: 30px;
    height: 30px;
    stroke: #353535;
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s;
}

.filters .filter_buttons svg:hover {
    stroke: #9b9b9b;
}

/* resumes */

.resumes {
    width: 1300px;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 20px;
}

.resumes .resume {
    width: 240px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: .4s;
}

.resumes .resume:hover {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.03);
    transform: scale(1.01);
}

.resumes .resume .resume_image {
    width: 100%;
    border-radius: 10px;
    height: 210px;
    background: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.resumes .resume .resume_image span {
    position: absolute;
    top: 9px;
    left: 13px;
    font-size: 13px;
    font-weight: 500;
    color: #a5a5a5;
}

.resumes .resume .resume_image img {
    width: 140px;
    border-radius: 10px;
}

.resumes .resume h2 {
    font-size: 16px;
    margin-top: 10px;
    color: #353535;
}

.resumes .resume a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    color: #868686;
    margin-top: 5px;
    transition: .3s;
}

.resumes .resume a:hover {
    color: #000000;
}

.resumes .resume a svg {
    width: 30px;
    height: 30px;
    stroke: #868686;
    margin-left: 5px;
    transition: .3s;
}

.resumes .resume a:hover svg {
    stroke: #000000;
}

/* footer */

footer {
    width: 100%;
    margin-top: 200px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
}

footer .footer_container {
    width: 1300px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 40px;
}

footer .footer_container .footer_item {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer .footer_container .footer_item h1 {
    font-size: 20px;
    font-weight: 800;
    color: #353535;
    margin-bottom: 10px;
}

footer .footer_container .footer_item p {
    font-size: 12px;
    font-weight: 400;
    color: #868686;
    margin-bottom: 10px;
}

footer .footer_container .footer_item h2 {
    font-size: 14px;
    font-weight: 600;
    color: #353535;
    margin-bottom: 10px;
}

footer .footer_container .footer_item  a {
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    color: #868686;
    transition: .3s;
}

footer .footer_container .footer_item  a:hover {
    color: #353535;
}

footer .footer_info {
    width: 1300px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer_info span {
    font-size: 12px;
    font-weight: 400;
    color: #868686;
}

footer .footer_info span a {
    text-decoration: none;
    color: #e62e2e;
    font-weight: 600;
    transition: .3s;
}

footer .footer_info span a:hover {
    color: #b41d1d;
}

footer .footer_info a {
    font-size: 12px;
    text-decoration: none;
    color: #353535;
    font-weight: 500;
    transition: .3s;
}

footer .footer_info a:hover {
    color: #9b9b9b;
}


/* keyframes */

/* from_top */

@keyframes from_top {
    0% {
        transform: translateY(-70px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* from_left */

@keyframes from_left {
    0% {
        transform: translateX(-300px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

/* from_right */

@keyframes from_right {
    0% {
        transform: translateX(300px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}